<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wd.model_login">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".RunnishActivity"></activity>
        <activity android:name=".MessageThreeActivity" />
        <activity android:name=".MessageTwoActivity" />
        <activity android:name=".MessageOneActivity" />
        <activity android:name=".GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".ForgetPasswordActivityOne"></activity>
        <activity android:name=".ForgetPasswordActivityTwo"></activity>
    </application>

</manifest>